/* .scroll{
    display: flex
}
#paragraph{
    box-shadow: 20px 20px grey;    
}
/* img[alt="Sample living room"]{
     height:100%;
    width: 100%; 
    border-radius: 20% 20%;
} */
/* #image2{
height: 60%;
width: 60%;
box-shadow: 20px 20px lightgrey;
}
.foundation{
    display:flex;
    font-size: X-large;
    margin-top: 5%;
    padding-left: 30%;
    padding-right: 20%;
    font-family: Arial, Helvetica, sans-serif;
   

}
h2{
    text-align: center;
    font-size: 2cm;
    font-family: Arial, Helvetica, sans-serif;
}
.scroll{
    font-size: xx-large;
 */
/* } */
/* .pa2{
    margin-left: 0.5cm;
} 
.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
  }
  .container::after {
    content: "";
    clear: both;
    display: table;
  }  
#paragraph{
    font-style: oblique;
} */